[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rakeR"]
	path = rakeR
	url = https://github.com/philmikejones/raker
[submodule "trigpoints"]
	path = trigpoints
	url = https://github.com/philmikejones/trigpoints
